<div *ngIf="userData" class="user-details">
    <h2>Detalji</h2>
    <div class="user-info">
        <p><strong>Ime:</strong> {{ userData.firstName }}</p>
        <p><strong>Prezime:</strong> {{ userData.lastName }}</p>
        <p><strong>Broj telefona:</strong> {{ userData.phone }}</p>
        <p><strong>E-mail:</strong> {{ userData.email }}</p>
    </div>
</div>

<div *ngIf="nutritionData" class="nutrition-data">
    <h2>Prehrana</h2>
    <button mat-raised-button color="primary" (click)="addNutrition()">Dodaj prehranu</button>
    <table class="meal-table">
        <thead>
            <tr>
                <th>Vrijeme</th>
                <th>Hrana</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let meal of nutritionData">
                <td>{{ meal.vrijeme }}</td>
                <td>{{ meal.hrana }}</td>
                <td>
                  <button mat-icon-button color="primary" (click)="editNutrition(meal)">
                  <mat-icon>edit</mat-icon>
                </button>
                  <button mat-icon-button color="warn" (click)="deleteNutrition(meal.id)">
                    <mat-icon>delete</mat-icon>
                </button>
                </td>
              </tr>
        </tbody>
    </table>
</div>
